@charset "UTF-8";

/* Variable
--------------------------------------- */
/* defaultColor */
$mainColor: #00aae7;
$textColor: #181818;
$borderColor: #e4e4e4;
$white: #fff;
$black: #000;
$gray: #f5f5f5;
$red: #eb0303;

/* siteColor */
$title_Color: #181818;
$titleS_Color: #6c6c6c;

/* width */
$mw: 1160px;
$mwp: 100%;

/* Extend
--------------------------------------- */
%cf:after {
  display: block;
  clear: both;
  content: ' ';
}
%fs0 {
  font-size: 0;
}
%oh {
  overflow: hidden;
}
%pointer {
  pointer-events: none;
}
%opacity {
  opacity: 0.7;
}
%motion_d4 {
  transition: all 0.4s ease-out;
}
%motion_d6 {
  transition: all 0.6s ease-out;
}
